@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    border-style: none;
    vertical-align: baseline;
    box-sizing: border-box;
}

.container {
    width: min(100% - 30px, 1280px);
    margin-inline: auto;
}

/*----------------------------------------*/
/*--------------- HEADER ---------------- */
/*----------------------------------------*/

header {
    height: 15vh;
    background: #1b1b1e;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
}

.flexbox {
    display: flex;
}

h1 {
    width: 33.3%;
    font-family: Oswald, sans-serif;
    font-size: 2em;
    line-height: 15vh;
    text-align: center;
    color: #fff;
}

nav {
    width: 33.3%;
    height: 15vh;
}

ul {
    list-style: none;
    display: flex;
    line-height: 15vh;
    justify-content: center;
    width: 100%;
}

li {
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    width: 33%;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

a:hover {
    background: #d8dbe2;
    color: #000;
    border-radius: 1em;
    padding: 0.9em 0.9em;
}

.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.3%;
    height: 15vh;
}

.search-input {
    width: 75%;
    background: #d8dbe2;
    height: 3em;
    border-radius: 1em;
    color: #000;
    padding-left: 1em;
}

.search-input::placeholder {
    font-family: "Nunito Sans", sans-serif;
    color: #000;
}
.search-box .fa-solid {
    display: none;
    padding: 10px;
    background: #fff;
    color: #0A66C2;
    border-radius: 5px;
    position: absolute;
    top: 1.65em;
}

.x {
    line-height: 15vh;
    width: 3em;
    height: 3em;
    position: relative;
}

.x span {
    width: 2em;
    height: 5px;
    background: #d8dbe2;
    border-radius: 1em;
    transition: 0.3s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.x span:nth-child(1) {
   top: 25%;
}
.x span:nth-child(3) {
    top: 75%;
}


/*----------------------------------------*/
/*---------------- BODY ----------------- */
/*----------------------------------------*/

main {
    min-height: 100vh;
}

.banner {
    margin-top: 15vh;
    height: 70vh;
    background: url(../img/background-1.webp) center / cover fixed no-repeat;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.banner h2 {
    color: #d8dbe2;
    font-family: "Signika Negative", sans-serif;
    font-size: 2em;
    width: 50%;
    text-align: center;
    padding: 1.2em 1.2em;
    background-color: rgb(0 0 0 / 0.5);
    animation: backInLeft;
    animation-duration: 2s;
} 

.about-me {
    position: relative;
    top: 2em;
    display: flex;
    align-items: center;
    margin-bottom: 8em;
    width: calc(100%);
    border-radius: 1.5em;
    background: #9DA3A4;
}

.about-me img {
    margin: 2em 1.5em;
    width: 37em;
    border-radius: 1em;
    box-shadow: 4px 4px 13px;
    transition: 0.3s;
}

.about-me img:hover {
    transform: translateY(-8px);
    transition: 0.3s;
}

.about-me p {
    font-family: Outfit, sans-serif;
    font-size: 1.3em;
    margin: 2em 2em;
    height: 15em;
    overflow: scroll;
}

.get-in-touch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 6em;
}

.get-in-touch h2 {
    font-family: "Signika Negative", sans-serif;
    font-size: 2em;
}

.social-media {
    margin-top: 3em;
    position: relative;
    top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 6em;
    width: 100%;
}

.social-media div {
    flex-basis: 80px;
    height: 5em;
    width: 5em;
    border-radius: 1em;
    rotate: 45deg;
}

.social-media div span {
    display: grid;
    place-items: center;
    width: 100%;
    height: 5em;
}

div span i {
    font-size: 3em;
    color: #fff;
    rotate: -45deg;
}

span a:hover {
    text-decoration: none;
    background-color: transparent;
}

.div-facebook {
    background: #10AAF4;
}

.div-instagram {
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
}

.div-github {
    background: #000;
}

.div-linkedin {
    background: #0A66C2;
}



/*----------------------------------------*/
/*--------------- FOOTER ---------------- */
/*----------------------------------------*/

footer {
    height: 15vh;
    background: #1b1b1e;
    overflow: hidden;
}

.social-media-i {
    height: 15vh;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 4.5em;
    width: 50%;
}

.social-media-i div {
    border: 0.3vh solid #fff;
    height: 3em;
    width: 3em;
    display: grid;
    place-items: center;
    border-radius: 50%;
    color: #d8dbe2;
}

.facebook:hover {
    border: 0.3vh solid #10AAF4;
    box-shadow: 0 0 10px #10AAF4;
    
    .fa-facebook {
    color: #10AAF4;
}
}

.instagram:hover {
    border: 0.3vh solid #E1306C;
    box-shadow: 0 0 10px #E1306C;
    
    .fa-instagram {
    color: #E1306C;
}
}

.github:hover {
    box-shadow: 0 0 10px #fff;
}

.linkedin:hover {
    border: 0.3vh solid #0077B5;
    box-shadow: 0 0 10px #0077B5;
    
    .fa-linkedin {
    color: #0077B5;
}
}

h3 {
    width: 50%;
    line-height: 15vh;
    text-align: end;
    font-family: Teko, sans-serif;
    color: #d8dbe2;
    font-size: 20px;
}

/*----------------------------------------*/
/*----------- RESPONSIVE DESIGN --------- */
/*----------------------------------------*/

@media screen and (max-width: 880px) {
    .banner h2 {
        width: 90%;
    } 

    .about-me {
        flex-direction: column;
        margin-bottom: 8em;
        height: 40em;
    }
    
    .about-me p {
        font-family: Outfit, sans-serif;
        font-size: 1.3em;
        margin: 1em 2em 0;
        overflow: hidden;
    }
}

@media screen and (max-width: 765px) {
    .social-media-i {
        height: 15vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 2.5em;
        width: 50%;
    }
}

@media screen and (max-width: 718px) {
    header h1 {
        width: 44.8%;
    }

    nav {
        width: 44.8%;
    }

    .search-box {
        width: 10%;
    }
}

@media screen and (max-width: 630px) {
    header h1 {
        width: 80%;
    }

    nav {
        width: 10%;
        display: grid;
        place-items: center;
    }

    nav ul {
        display: none;
    }

    .about-me img {
        width: 30em;
    }
}

@media screen and (max-width: 532px) {
    .about-me img {
        width: 25em;
    }

    header h1 {
        width: 60%;
    }

    nav {
        width: 20%;
        display: grid;
        place-items: center;
    }

    .search-box {
        width: 20%;
    }

    .social-media-i {
        gap: 1.5em;
    }

    .about-me {
        min-height: 15em;
    }

    .about-me p {
        min-height: 15em;
        overflow: scroll;
    }
}

@media screen and (max-width: 441px) {
    .about-me img {
        width: 23em;
    }

    .banner h2 {
        color: #d8dbe2;
        font-family: "Signika Negative", sans-serif;
        font-size: 1.4em;
        width: 80%;
        text-align: center;
        padding: 1em 1em;
    } 

    .social-media-i {
        gap: 1em;
    }
}

@media screen and (max-width: 410px) {
    .about-me img {
        width: 19em;
    }
}

@media screen and (max-width: 346px) {
    .about-me img {
        width: 15em;
    }

    .about-me {
        min-height: 5em;
    }

    .about-me p {
        margin-bottom: 5em;
    }
}