@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    border-style: none;
    vertical-align: baseline;
    box-sizing: border-box;
}

.container {
    width: min(100% - 30px, 1280px);
    margin-inline: auto;
}

/*----------------------------------------*/
/*--------------- HEADER ---------------- */
/*----------------------------------------*/

header {
    height: 15vh;
    background: #1b1b1e;
    overflow: hidden;
}

.flexbox {
    display: flex;
}

h1 {
    width: 33.3%;
    font-family: Oswald, sans-serif;
    font-size: 2em;
    line-height: 15vh;
    text-align: center;
    color: #fff;
}

nav {
    width: 33.3%
}

ul {
    list-style: none;
    display: flex;
    line-height: 15vh;
    justify-content: center;
    width: 100%;
}

li {
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    width: 33%;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

a:hover {
    background: #d8dbe2;
    color: #000;
    border-radius: 1em;
    padding: 0.9em 0.9em;
}

.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.3%;
}

.search-input {
    width: 75%;
    background: #d8dbe2;
    height: 3em;
    border-radius: 1em;
    color: #000;
    padding-left: 1em;
}

.search-input::placeholder {
    font-family: "Nunito Sans", sans-serif;
    color: #000;
}

/*----------------------------------------*/
/*---------------- BODY ----------------- */
/*----------------------------------------*/

main {
    min-height: 100vh;
}

.banner {
    height: 70vh;
    background: url(../img/background-1.webp) center / cover fixed no-repeat;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.banner h2 {
    color: #d8dbe2;
    font-family: "Signika Negative", sans-serif;
    font-size: 2em;
    width: 50%;
    text-align: center;
    padding: 2em 2em;
    background-color: rgb(0 0 0 / 0.5);
} 

/*----------------------------------------*/
/*--------------- FOOTER ---------------- */
/*----------------------------------------*/

footer {
    height: 15vh;
    background: #1b1b1e;
    overflow: hidden;
}

.social-media-i {
    height: 15vh;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 4.5em;
    width: 50%;
}

.social-media-i div {
    border: 0.3vh solid #fff;
    height: 3em;
    width: 3em;
    display: grid;
    place-items: center;
    border-radius: 50%;
    color: #d8dbe2;
}

.facebook:hover {
    border: 0.3vh solid #10AAF4;
    box-shadow: 0 0 10px #10AAF4;
    
    .fa-facebook {
    color: #10AAF4;
}
}

.instagram:hover {
    border: 0.3vh solid #E1306C;
    box-shadow: 0 0 10px #E1306C;
    
    .fa-instagram {
    color: #E1306C;
}
}

.github:hover {
    box-shadow: 0 0 10px #fff;
}

.linkedin:hover {
    border: 0.3vh solid #0077B5;
    box-shadow: 0 0 10px #0077B5;
    
    .fa-linkedin {
    color: #0077B5;
}
}

h3 {
    width: 50%;
    line-height: 15vh;
    text-align: end;
    font-family: Teko, sans-serif;
    color: #d8dbe2;
    font-size: 20px;
}
